javascript:
  // Set this config to rerender icon when Vue's state changed
  window.FontAwesomeConfig = { autoReplaceSvg: 'nest' }
script src="https://kit.fontawesome.com/f41de4a235.js" crossorigin="anonymous"
